@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained-dark.css");

button.titlebutton {
  text-shadow: 0 -1px rgba(0, 0, 0, 0.827451);
  -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.827451);
  border: 0;
  border-image: none;
  box-shadow: none;
  background-position: center;
  background-repeat: no-repeat;

  min-width: 16px;
  min-height: 16px;
  margin: 0;
  padding: 0 0;
  background-size: auto;
  color: transparent;
}

button.titlebutton:backdrop {
  -gtk-icon-shadow: none;
}

button.titlebutton:backdrop {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-unfocused-dark.png"), url("assets/window-buttons/osx/titlebutton-unfocused-dark@2.png"));
}

button.titlebutton.close {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-close-dark.png"), url("assets/window-buttons/osx/titlebutton-close-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.close:backdrop {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-close-backdrop-dark.png"), url("assets/window-buttons/osx/titlebutton-close-backdrop-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.close:hover {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-close-hover-dark.png"), url("assets/window-buttons/osx/titlebutton-close-hover-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.close:active {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-close-active-dark.png"), url("assets/window-buttons/osx/titlebutton-close-active-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.maximize {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-maximize-dark.png"), url("assets/window-buttons/osx/titlebutton-maximize-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.maximize:backdrop {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-maximize-backdrop-dark.png"), url("assets/window-buttons/osx/titlebutton-maximize-backdrop-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.maximize:hover {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-maximize-hover-dark.png"), url("assets/window-buttons/osx/titlebutton-maximize-hover-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.maximize:active {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-maximize-active-dark.png"), url("assets/window-buttons/osx/titlebutton-maximize-active-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.minimize {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-minimize-dark.png"), url("assets/window-buttons/osx/titlebutton-minimize-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.minimize:backdrop {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-minimize-backdrop-dark.png"), url("assets/window-buttons/osx/titlebutton-minimize-backdrop-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.minimize:hover {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-minimize-hover-dark.png"), url("assets/window-buttons/osx/titlebutton-minimize-hover-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.minimize:active {
  background-image: -gtk-scaled(url("assets/window-buttons/osx/titlebutton-minimize-active-dark.png"), url("assets/window-buttons/osx/titlebutton-minimize-active-dark@2.png"));
  box-shadow: none;
}

button.titlebutton.minimize,
button.titlebutton.maximize,
button.titlebutton.close {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  color: transparent;
}

.titlebar box.right > button.titlebutton.close { margin-right: 8px; }
.titlebar box.left > button.titlebutton.close { margin-left: 8px; }

.default-decoration,
.ssd headerbar.titlebar {
	padding: 8px 10px;
	min-height: 0;
}

/* titlebuttons on ssd */

.default-decoration button.titlebutton,
.default-decoration button.titlebutton.close,
.default-decoration button.titlebutton.minimize,
.default-decoration button.titlebutton.maximize,
.ssd headerbar.titlebar button.titlebutton,
.ssd headerbar.titlebar button.titlebutton.close,
.ssd headerbar.titlebar button.titlebutton.minimize,
.ssd headerbar.titlebar button.titlebutton.maximize {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  min-width: 0;
	min-height: 0;
}

.default-decoration button.titlebutton.close,
.ssd headerbar.titlebar button.titlebutton.close {
  margin-left: 6px;
}

button.image-button.titlebutton { padding: 0 3px; }
